.header {
  background: black;
  color: white;
  padding: 1rem;
  margin-bottom: 2rem;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.description h2 {
  font-weight: bold;
}

.description p {
  font-size: 1rem;
  line-height: 1.8;
}

.btn {
  padding: 0.5rem 2rem;
  border: none;
  width: fit-content;
  background: var(--red);
  color: white;
  font-size: 1rem;
  border-radius: 10px;
}

.description span {
  color: var(--red);
}

.image img {
  width: 100%;
  height: auto;
}
